.header {
    background-image: url(img/background/header.png);
    height: 850px;
    background-repeat: no-repeat;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    margin: 0 25px 117px;
    padding-top: 31px;
    align-items: center;
}

.header__container{
    margin: 0 41px;
}

.header__site-title {
    color: #FFFFFF;
    font-size: var(--title-font-size);
    font-weight: 400;
}

.header__subtitle {
    font-size: var(--subtitle-font-size);
    color: #FFFFFF;
    line-height: 40px;
    letter-spacing: 0.2px;
    padding: 27px 35px 0;
}