/* {
    margin: 0;
    padding: 0;
}

body {
    width: 418px;
    text-align: center;
    font-family: Graphik;
}

section {
    position: relative;
}

header {
    height: 847px;
    background-image: url(img/background/header.png);
    background-repeat: no-repeat;
    position: relative;
}

ul {
    list-style-type: none;
}

.title {
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #252B42
}

.subtitle {
    margin: 27px auto 0px;
    font-weight: 400;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #374754;
}

a,
footer,
.header__site-title,
.header__subtitle {
    color: #FFFFFF;
}

.button {
    display: inline-block;
    width: 236px;
    padding: 16px 0px;
    font-weight: 700;
    font-size: 20px;
    background-color: #2091F9;
    border-radius: 35px;
    text-decoration: none;
}

.header__site-title {
    padding-top: 117px;
}

header>.button {
    margin: 69px auto 248px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 31px 23px 0px 25px;
}

.features-title {
    padding-top: 90px;
}

.feature__video-content {
    padding-top: 67px;
    border-radius: 15px;
}

.feature__opportunity {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 98px;
    justify-content: center;
    width: 44%;
    margin: auto;
}

.feature__opportunity-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.2px;

}

.feature__opportunity-icon {
    width: 24%;
    margin: auto;
    padding: 82px 0px 27px;
}

.feature__block-title {
    padding-bottom: 20px;
}

.organize-block>.button {
    margin: 65px auto;
}

.newsletter__text {
    margin: 168px auto 95px;
}

.newsletter__title {
    padding: 17px 0px 27px 0px;
}

.newsletter__subscribe {
    margin: 95px auto 34px;
}

.newletter__form {
    display: flex;
    flex-direction: column;
    padding: 12px;
    position: relative;
}

.blue_btn {
    display: block;
    margin: 12px auto 0px;
    padding: 16px 128px;
    font-weight: 700;
    font-size: 20px;
    background-color: #2091F9;
    border-radius: 35px;
    color: #FFFFFF;
    border: none;
}

.partners__text {
    margin: 174px auto 108px;
}

.partners__name {
    padding: 25px 40px;
} */